<odoo>

    <menuitem id="menu_radiology_root"
              name="Radiology"
              sequence="10"/>

    <menuitem id="menu_radiology_appointments"
              name="Appointments"
              parent="menu_radiology_root"
              action="action_radiology_appointment"
              sequence="10"/>

</odoo>